<%- include('includes/_header') %>

<main id="main">
  <h2>Calculate Drugs to purchase</h2>
  <p>For how many days do you want to purchase drugs?</p>

  <form action="/purchase" method="POST">
    <input type="number" name="days" value="<%= days %>" min="1">
    <button type="submit">Enter</button>
  </form>

  <table id="purchase_table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Drug Name</th>
        <th>Cards to Buy</th>
        <th>Packs to Buy</th>
      </tr>
    </thead>
    <tbody>
      <% drugs.forEach(drug => { %>
        <tr>
          <td><%= drug.id %></td>
          <td><%= drug.name %></td>
          <td>
            <%= drug.cardsToBuy %>
            (<%= drug.cardPerPack %>
            <% if (drug.cardPerPack < 2) { %> card <% } else { %> cards <% } %>
            per pack)
          </td>
          <td><%= drug.packsToBuy %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('includes/_footer') %>
